.m-post-modal .m-add-img-btn {
    margin: auto;
}

.m-post-modal .m-img-preview {
    width: 200px;
    height: 150px;
    margin: auto;
}

.m-post-modal .m-img {
    display: none;
}

.m-post-modal .m-img-preview {
    display: block;
    width: 200px;
    height: 150px;
    margin: auto;
}