.m-header-container {
    height: 50px;
    background: #cccccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.m-header-container .m-header-left-container {
    display: flex;
}

.m-header-container .m-header-left-container .m-header-name{
    font-size: 25px;
    font-family: cursive;
    font-weight: 800;
}


.m-header-container .m-header-right-container {
    display: flex;
    align-items: center;
}

.m-header-container .m-header-right-container .m-profile-salutation {
    font-size: 16px;
    font-weight: 600;
    font-family: Roboto;
    margin-right: 15px;
}

.m-header-container .m-header-right-container .m-profile-dropdown .m-ddn,
.m-header-container .m-header-right-container .m-profile-dropdown .m-ddn:focus{
    background: transparent;
    border: 0;
    box-shadow: none;
}

.m-header-container .m-header-right-container .m-user-icon {
    font-size: 25px;
    display: inline-flex;
}